{% extends "blog/base.html" %}
{% load blog_tags %}
{% load urlify %}

{% block title %}Your Blog{% endblock %}

{% block content %}
{% if tag %}
<h2 class="blog-post-title">Posts tagged with "{{ tag.name }}"</h2>
{% endif %}

{% for post in posts %}
<div class="blog-post-container">
    <div class="list-profile-img-container">
        <a href="{% url 'profile' post.author.profile.name %}">
            <img class="list-profile-img" src="{{ post.author.profile.picture.url }}" />
        </a>
    </div>
    <div class="blog-post-content">
        <p class="date">
            <span class="blog-post-author"><a href="{% url 'profile' post.author.profile.name %}">{{ post.author }}</a></span>{{ post.publish }}
        </p>
        <h2 class="blog-post-title">
            <a href="{{ post.get_absolute_url }}">
                {{ post.title }}
            </a>
            <div class="text-muted tag-container">
            {% for tag in post.tags.all %}
                    <a class="tags" href="{% url 'blog:post_list_by_tag' tag.slug %}">
                        {{ tag.name }}
                    </a>
            {% endfor %}
            </div>
        </h2>

        {% if post.image %}
        <img class="imgr" src='{{ post.image.url }}' />
        {% endif %}
        <div class="blog-body">{{ post.body|markdown|truncatewords_html:20 }}</div>
    </div>
</div>
{% endfor %}


{% include "pagination.html" with page=posts %}

{% endblock %}