{% extends "blog/base.html" %}
{% load blog_tags %}

{% block content_search %}
{% if searched %}
<h2 class="search-header">You searched for ... {{ searched }}</h2>

{% for p in result %}
<div class="search-container">
    <div class="search-post-title">
        <a href="{{ p.get_absolute_url }}">
            {{ p.title }}
        </a>
    </div>
    <div class="search-post-body">
        {{ p.body|markdown|truncatewords_html:20 }}
    </div>
</div>
{% endfor %}
{% if not result %}
<h2 class="search-header">Nothing Found...</h2>
{% endif %}
{% endif %}
{% endblock %}