.remove-default-btn {
	background-color: transparent;
	border: none;
	box-shadow: none;
}

.edit-color {
	color: #333;
}

.post-link {
	text-decoration: none;
}

.post-text {
	padding-top: 0.5rem;
}

.post-img {
	float: left;
	margin-right: 1rem;
}

.post-image {
	max-width: 100%;
	height: auto;
	border-radius: 10px;
	margin-bottom: 10px;
}

.child-comment {
	margin-left: 2rem;
}

.notification-badge {
	transition: 0.3s;
}

.notification-badge:hover {
	cursor: pointer;
	opacity: 0.75;
	transition: 0.3s;
}

.dropdown {
	position: relative;
	display: inline-block;
}

.dropdown-content {
	position: absolute;
	background-color: #f1f1f1;
	min-width: 350px;
	box-shadow: 0px 8px 8px 0px rgba(0, 0, 0, 0.2);
	z-index: 1;
	font-size: 0.9rem;
}

.dropdown-content a {
	color: #000;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}

.dropdown-content a:hover {
	background-color: #ddd;
}

.dropdown-item-parent {
	position: relative;
	display: block;
}

.dropdown-item-close {
	position: absolute;
	top: 0;
	right: 0;
	font-size: 1.8rem;
	padding-right: 5px;
	transition: 0.3s
}

.dropdown-item-close:hover {
	color: rgb(180, 25, 25);
	transition: 0.3s;
	cursor: pointer;
}

.inbox-icon-container {
	margin-left: 15px;

}

.inbox-icon {
	color: #333;
	transition: 0.5s;
}

.inbox-icon:hover {
	transition: 0.5s;
}

.empty-text {
	color: #777;
	font-size: 1.5rem;
	text-align: center;
}

.empty-text {
	color: #777;
	font-size: 1.5rem;
	text-align: center;
}


.sent-message {
	background-color: rgb(1, 196, 255);
	border-radius: 30px;
	padding: 10px 25px;
	width: 35%;
}

.received-message {
	background-color: #a9a9a9;
	color: #fff;
	border-radius: 30px;
	padding: 10px 25px;
	width: 35%;
}

.message-receiver-container {
	margin-left: auto;
	margin-right: 0;
}

.message-image {
	border-radius: 10px;
	max-width: 35%;
	height: auto;
}

.inbox-icon {
	margin-right: 5px;
}

.remove-default-btn {
	background-color: transparent;
	border: none;
	box-shadow: none;
}

.edit-color {
	color: #333;
}

.post-link {
	text-decoration: none;
}

.post-text {
	padding-top: 0.5rem;
}

.post-img {
	float: left;
	margin-right: 1rem;
}

.post-image {
	max-width: 100%;
	height: auto;
	border-radius: 10px;
	margin-bottom: 10px;
}

.child-comment {
	margin-left: 2rem;
}

.notification-badge {
	transition: 0.3s;
}

.notification-badge:hover {
	cursor: pointer;
	opacity: 0.75;
	transition: 0.3s;
}

.dropdown {
	position: relative;
	display: inline-block;
}

.dropdown-content {
	position: absolute;
	background-color: #f1f1f1;
	min-width: 350px;
	box-shadow: 0px 8px 8px 0px rgba(0, 0, 0, 0.2);
	z-index: 1;
	font-size: 0.9rem;
}

.dropdown-content a {
	color: #000;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}

.dropdown-content a:hover {
	background-color: #ddd;
}

.dropdown-item-parent {
	position: relative;
	display: block;
}

.dropdown-item-close {
	position: absolute;
	top: 0;
	right: 0;
	font-size: 1.8rem;
	padding-right: 5px;
	transition: 0.3s
}

.dropdown-item-close:hover {
	color: rgb(180, 25, 25);
	transition: 0.3s;
	cursor: pointer;
}

.inbox-icon-container {
	margin-right: 20px;
}

.inbox-icon {
	color: #333;
	transition: 0.5s;
}

.inbox-icon:hover {
	transition: 0.5s;
}

.empty-text {
	color: #777;
	font-size: 1.5rem;
	text-align: center;
}

.empty-text {
	color: #777;
	font-size: 1.5rem;
	text-align: center;
}


.sent-message {
	background-color: rgb(1, 196, 255);
	border-radius: 30px;
	padding: 10px 25px;
	width: 35%;
}

.received-message {
	background-color: #a9a9a9;
	color: #fff;
	border-radius: 30px;
	padding: 10px 25px;
	width: 35%;
}

.message-receiver-container {
	margin-left: auto;
	margin-right: 0;
}

.message-image {
	border-radius: 10px;
	max-width: 35%;
	height: auto;
}

.inbox-icon {
	margin-right: 5px;
}

body {
	background-image: url(https://images.unsplash.com/photo-1508739773434-c26b3d09e071?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80);
	background-repeat: no-repeat;
	background-size: cover;
}

.form-control {
	border-radius: 2px;
}

.our-moto {
	font-weight: 800;
	font-size: 7em;
	margin: auto;
	text-align: center;
	padding-top: 8%;
	-webkit-text-stroke: 5px lightblue;
}

.footer-container {
	position: absolute;
	top: 100vh;
	transform: translateY(-120%);
	width: 100%;
}

.footer-links {
	text-align: center;
}

.footer-link-items {
	text-decoration: none;
	padding-left: 10px;
	padding-right: 10px;
	color: lightblue;
	opacity: 0.7;
}

html {
	min-height: 100%;
}

@media (max-width: 600px), (max-height: 600px) {
	.our-moto {
		font-weight: 800;
		font-size: 2em;
		margin: auto;
		text-align: center;
		padding-top: 8%;
		-webkit-text-stroke: 2px lightblue;
	}

}